<div class="perf-opt not-found">
  <div class="perf-opt prose text-center">
    <h2 class="perf-opt h4">{{ '404.general.title' | t }}</h2>
    {%- capture button_content -%}{{ '404.general.continue_shopping' | t }}{%- endcapture -%}
    {%- render 'button', content: button_content, href: routes.all_products_collection_url, size: 'xl' -%}
  </div>
</div>

{% schema %}
{
  "name": "404",
  "class": "shopify-section--404",
  "tag": "section"
}
{% endschema %}