<style>
  .One_image {
      margin-top: 163px;
  }

 @media (max-width: 768px) {
.One_image {
    margin-top: 69.5px;
}
}
</style>
<section class="perf-opt One-section">
    <div class="perf-opt container">
        <div class="perf-opt One_image">
        
           <img class="perf-opt desktop-img" src="{{ section.settings.image | img_url:'master' }}" />
           <img class="perf-opt mobile-img" src="{{ section.settings.m_image | img_url:'master' }}" />
        </div>
    </div>
</section>

{% schema %}
{
  "name": "One image",
  "settings": [
     { 
            "type": "image_picker", 
            "id": "image", 
            "label": "Pc image" 
        },
         { 
            "type": "image_picker", 
            "id": "m_image", 
            "label": "Mobile image" 
        }
   
  ],
  
  "presets": [
    {
      "name": "One image"
    }
  ]
}
{% endschema %}