

.product_content {
  display: grid;
}
.article-template__nav {
    max-width: 300px;
    position: sticky;
    top: 0px;
}

.article-template__container {
  position: relative;
  display: flex;
  grid-gap: 50px;
}
.nav_header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  font-weight: 900;
  font-size: 20px;
}
.nav_wrapper {
  position: sticky;
  top: 200px;
  left: 0;
  display: grid;
  background: #f5f5f5;
  padding: 30px;
}
.nav_container {
  height: 100%;
  position: relative;
}
.nav_content span {
    margin: 20px 0;
    display: block;
    width: 200px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.nav_content span.selected {
  background: #2aace68f;
}
.nav_content span.selected:after {
  content: "";
  background: #2aace6;
  right: 10px;
  height: 60%;
  top: 20%;
  width: 3px;
  position: absolute;
}

.article-template__content .product_more {
    margin-top: 20px;
}

@media screen and (min-width: 750px) {
  .product_title {
    font-size: 36px;
    line-height: 40px;
  }
  .product_price {
    color: #ff6900;
    font-size: 24px;
  }
  .button-levels-1.button-levels-1 {
    line-height: 100%;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    background: #2aace68f;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    transition-property: background;
  }
  
  .product_tag {
    display: flex;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    background: #c7c7c747;
  }
}

@media screen and (max-width: 749px) {
  .article-template__nav{
    display: none !important;
  }
  .product_title {
    font-size: 16px;
    line-height: 30px;
  }
  .product_price {
    color: #ff6900;
    font-size: 16px;
  }  
  .button-levels-1.button-levels-1 {
    line-height: 100%;
    padding: 8px 12px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    background: #2aace68f;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    transition-property: background;
  }


  .product_tag {
    display: flex;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
    margin: 20px auto;
    width: 96%;
    background: #c7c7c747;
  }
}